body {
    overflow-x: hidden;
    font-family: Raleway, sans-serif;
}

#logo {
    border-radius: 50%;
    vertical-align: middle !important;
}

.logo-caption {
    font-size: 20px;
}

.header-wrapper {
    max-width: 100%;
    height: 100vh;
    width: auto;
    min-height: 400px;
    background-size: cover;
    background-image: url("../images/main-bg-comp.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: -1;
}

.header p.lead {
    font-size: 1.4em;
}

.nav-item-dif a {
    height: 66px !important;
    line-height: 45px;
    border-radius: 10%;
    border-top: 0;
    border-bottom: 0;
}

.navbar {
    padding: 0 !important;
}

.brand {
    cursor: pointer;
}

.nav-item-dif a:hover {
    animation: pulse-black .9s;
    color: black !important;
}

.header-title {
    margin-top: 20vh;
}

.social-icons-wrapper {
    list-style: none;
}

.social-icons-wrapper a {
    text-decoration: none;
    color: black;
    margin-top: 180px;
    transition: color .5s;
    -webkit-transition: color .5s;
}

.social-icons-wrapper a:hover {
    color: white;
}

.social-icons {
    padding-bottom: 3vh;
}

.read-more {
    margin-top: 38%;
}

.read-more-title a {
    text-decoration: none;
    color: whitesmoke;
}

.read-more-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.read-more-button:hover {
    cursor: default;
}

.read-more-button i {
    color: whitesmoke;
}

.section-work-wrapper {
    background-color: #191919;
    color: white;
}

.section-work {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.section-title h4 {
    font-size: 28px;
    letter-spacing: 10px;
    font-weight: 400;
}

.section-work-text {
    padding-top: 5vh;
}

.section-work-text p {
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 24px;
}

.section-gallery-wrapper {
    background-color: white;
    color: black;
}

.section-gallery {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#lightgallery a img {
    margin-bottom: 5px;
    transition: color .5s;
}

.section-about-wrapper {
    background-color: #191919;
    color: white;
}

.section-about {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.footer-wrapper {
    background-color: #212529;
}

.footer-social-icons-wrapper h5 {
    padding-top: 5vh;
    color: white;
    font-size: 2vh;
    line-height: 3vh;
}

.footer-social-icons-wrapper h6 {
    color: white;
    text-decoration: none;
    font-size: 2vh;
}

.footer-social-icons-wrapper h6 a {
    color: white;
    text-decoration: none;
    transition: color .5s;
}

.footer-social-icons-wrapper h6.mail a:hover {
    color: rgb(114, 114, 114);
}

.footer-social-icons-wrapper ul {
    list-style: none;
}

.footer-social-icons {
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.footer-social-icons a {
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: color .5s;
    -webkit-transition: color .5s;
}

.footer-social-icons a:hover {
    color: rgb(114, 114, 114);
}