@media screen and (max-width: 320px) {
    .navbar-toggler{
        margin-left: 1.5vh;
        margin-top: 1.3vh;
        margin-bottom: .5vh;
        border: 0;
        padding: 0;
    }
    nav {
        background-color: white !important;
        a.nav-link {
            margin-left: 1vh;
            padding-bottom: 0;
        }
    }
    .header-wrapper{
        height: 105vh;
    }
    .header {
        .social-icons-wrapper {
            display: none;
        }
        .header-title:first-of-type {
            margin-top: 0;
        }
        .header-title {
            h2 {
                font-size: 5.5vh;
            }
            p.lead {
                font-size: 3vh;
            }
            h2, p.lead {
                padding-left: 2vh;
            }
        }
    }
    .read-more-wrapper {
        .read-more {
            margin-top: 68%;
        }
        .read-more-title {
            font-size: 3vh;
        }
    }
    .section-work-wrapper {
        .section-work{
            h4 {
                font-size: 4vh;
            }
            p.lead {
                font-size: 2.5vh;
            }
            h4, p, p.lead {
                margin-left: 1vh;
            }
        }
    }
    .section-gallery-wrapper {
        h4 {
            font-size: 4vh;
        }
        p.lead {
            font-size: 3vh;
        }
        h4, p, p.lead {
            margin-left: 1vh;
        }
        #lightgallery{
            margin-left: 1vh;
            margin-right: 1vh;
        }
    }
    .section-about-wrapper {
        h4 {
            font-size: 3.5vh;
        }
        p, p.lead {
            font-size: 2.3vh;
            margin-left: 1vh;
        }
        .section-about h4, .section-about p, .section-about p.lead {
           margin-top: 1.2vh;
        }    }
    footer {
        .footer-social-icons-wrapper h6.mail a{
            color: white;
        }
        .footer-social-icons-wrapper h6.mail a:hover {
            color: white;
        }
        .footer-social-icons {
            font-size: 2vh;
            a {
                color: white;
            }
            a:hover{
                color: white;
            }
            a>li>i{
                margin-right: 4vh !important;
            }
        }
        
    }
}
@media screen and (max-width: 576px) {
    .navbar-toggler {
        margin-left: 1vh;
        margin-top: 1vh;
        margin-bottom: 1vh;
        border: 0;
    }
    nav {
        background-color: white !important;
        a.nav-link {
            margin-left: 1vh;
            padding-bottom: 0;
        }
    }
    .header-wrapper{
        height: 105vh;
    }
    .header {
        .social-icons-wrapper {
            display: none;
        }
        .header-title:first-of-type {
            margin-top: 0;
        }
        .header-title {
            h2 {
                font-size: 5.5vh;
            }
            p.lead {
                font-size: 3vh;
            }
            h2, p.lead {
                padding-left: 2vh;
            }
        }
    }
    .read-more-wrapper {
        .read-more {
            margin-top: 68%;
        }
        .read-more-title {
            font-size: 3vh;
        }
    }
    .section-work-wrapper {
        .section-work{
            h4 {
                font-size: 4vh;
            }
            p.lead {
                font-size: 2.5vh;
            }
            h4, p, p.lead {
                margin-left: 1vh;
            }
        }
    }
    .section-gallery-wrapper {
        h4 {
            font-size: 3vh;
        }
        p.lead {
            font-size: 2vh;
        }
        h4, p, p.lead {
            margin-left: 1vh;
        }
        #lightgallery{
            margin-left: 1vh;
            margin-right: 1vh;
        }
    }
    .section-about-wrapper {
        h4 {
            font-size: 3.5vh;
        }
        p, p.lead {
            font-size: 2.3vh;
            margin-left: 1vh;
        }
        .section-about h4, .section-about p, .section-about p.lead {
           margin-top: 1.2vh;
        }    }
    footer {
        .footer-social-icons-wrapper h6.mail a{
            color: white;
        }
        .footer-social-icons-wrapper h6.mail a:hover {
            color: white;
        }
        .footer-social-icons {
            font-size: 2vh;
            a {
                color: white;
            }
            a:hover{
                color: white;
            }
            a>li>i{
                margin-right: 4vh !important;
            }
        }
        
    }

    
}

@media (max-width: 768px) {
    .navbar-toggler {
        margin-left: 1vh;
        margin-top: 1vh;
        margin-bottom: 1vh;
        border: 0;
    }
    nav {
        background-color: white !important;
        a.nav-link {
            margin-left: 1vh;
            padding-bottom: 0;
        }
    }
    .header-wrapper{
        height: 105vh;
    }
    .header {
        .social-icons-wrapper {
            display: none;
        }
        .header-title:first-of-type {
            margin-top: 0;
        }
        .header-title {
            h2 {
                font-size: 5.5vh;
            }
            p.lead {
                font-size: 3vh;
            }
            h2, p.lead {
                padding-left: 2vh;
            }
        }
    }
    .read-more-wrapper {
        .read-more {
            margin-top: 68%;
        }
        .read-more-title {
            font-size: 3vh;
        }
    }
    .section-work-wrapper {
        .section-work{
            h4 {
                font-size: 4vh;
            }
            p.lead {
                font-size: 2.5vh;
            }
            h4, p, p.lead {
                margin-left: 1vh;
            }
        }
    }
    .section-gallery-wrapper {
        h4 {
            font-size: 3vh;
        }
        p.lead {
            font-size: 2vh;
        }
        h4, p, p.lead {
            margin-left: 1vh;
        }
        #lightgallery{
            margin-left: 1vh;
            margin-right: 1vh;
        }
    }
    .section-about-wrapper {
        h4 {
            font-size: 3.5vh;
        }
        p, p.lead {
            font-size: 2.3vh;
            margin-left: 1vh;
        }
        .section-about h4, .section-about p, .section-about p.lead {
           margin-top: 1.2vh;
        }    }
    footer {
        .footer-social-icons-wrapper h6.mail a{
            color: white;
        }
        .footer-social-icons-wrapper h6.mail a:hover {
            color: white;
        }
        .footer-social-icons {
            font-size: 2vh;
            a {
                color: white;
            }
            a:hover{
                color: white;
            }
            a>li>i{
                margin-right: 4vh !important;
            }
        }
        
    }
 }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }